/* src/components/Dashboard.css */

.slick-prev, .slick-next {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 10px;
  }
  
  .slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slick-dots li button:before {
    color: black;
  }
  
  .slick-dots li.slick-active button:before {
    color: blue;
  }
  